

                                     /* topnav code */


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #43B4FF;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 20px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
 background-color: #FF3333;
  color: black;
}


.topnav a.active {
  background-color: #FF3333;
   color:white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px){
      .sameer{
        background-color: #FF3333;}


.font-heading-mobile{
      font-size=1em;
      }


.font-peragraph-mobile{
       font-size=0.8em;
     }
 }

.center-align {
     text-align: center;

  }



@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }

}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
            /* sidenav code */



body {
  font-family: "Lato", sans-serif;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
 color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



                                     /* slideshow code */






#main{
background-color: #FAEE46;

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
}
/* Slideshow container */
.slideshow-container {
  max-width: 300%;
  position: relative;
  margin:6%;

}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: #888888;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {

}

.prev, .next {
  padding: 12px;
  margin-top: -17px;
  font-size: 11px;
}


.border-a-shadow{
   border-style: solid;
   border-width: 1px;
   border-color: #dcdcdc;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   text-align: center;
 }






                           /*   PARALLAX CODE-1   */



 body, html {
   height: 100%;
 }

 .parallax-1{
   /* The image used */
   background-image: url('img_parallax_1.jpg');

   /* Full height */
   height: 80%;
   opacity: 0.65;


   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  }

  .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: px;

  }


.parallax-container {
                     background-color: #43B4FF;
                     max-width: 300%;
                     position: relative;
                     margin:6%;
                     box-shadow: 0 0 0 5.8vmax  #FAEE46;
                     text-align: center;
                     padding:70px 50px;
                   }



.a-star{

            text-align: left;
               padding:50px 0px;

              }



.b-star{

            text-align: left;
            padding:0px 0px;

              }



@media only screen and (max-width:400px) {

             .star{
                     padding: 1px;
                     margin-top: -17px;
                     font-size: 10px;

                            }

}



@media only screen and (max-width:500px) {

             .a-star{

                 /*    margin-top: -17px;*/
                     font-size: 0.1px;
                       text-align: justify;
                            }

}




@media only screen and (max-width:500px) {

             .b-star{

                   /*  margin-top: -17px;*/
                     font-size: 1px;
                       text-align: justify;
                            }

}







                           /*    parallax code-2  */



 body, html {
   height: 100%;
 }

 .parallax-2{
   /* The image used */
   background-image: url('img_parallax_2.jpg');

   /* Full height */
   height: 80%;
   opacity: 0.65;


   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  }

  .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: px;

  }





                   /   *parallax-2 img*  /




                   .title{
                       text-align: center;
                       text-transform: capitalize;
                       color: #726a95;
                       margin: 10px 0;
                       position: relative;
                   }

                   .title::after{
                       content: "";
                       position: absolute;
                       width: 20%; height: 2px;
                       background-image: linear-gradient(to left, transparent 5%, #726a95);
                       bottom: -10px; left: 50%;
                       transform: translate(-50%);
                   }

                   .team-row{
                       display: flex;
                       justify-content: center;
                       flex-wrap: wrap;
                       padding: 40px 0;
                   }

                   .member{
                       flex: 1 1 250px;
                       margin: 17px;
                       text-align: center;
                       padding: 10px 5px;
                       cursor: pointer;
                       max-width: 195px;
                       transition: all 0.3s;
                   }

                   .member:hover{
                       box-shadow: 0 20px 40px rgba(0,0,0,0.2);
                       transform: translateY(-20px);
                       background-color: #FF3333;
                    }

                   .member img{
                       display: block;
                       width: 180px; height: 180px;
                       object-fit: cover;
                       border:3px solid black;
                       border-radius: 0%;
                       margin: 0 auto;
                   }

                   .member h2,h4{
                       text-transform: uppercase;
                       font-size: 24px;
                       color: #726a95;
                       margin: 15px 0;
                   }


                  .member h2{
                   text-transform: uppercase;
                   font-size: 18px;
                   color: black;
                   margin: 15px 0;
                   }

                   .ultra{
                         border:3px solid black;
                           }


                     .a-container{
                                 max-width: 300%;
                                 position: relative;
                                 margin:6%;
                                 box-shadow: 0 0 0 5.8vmax  #FAEE46;
                                 text-align:center

                               }









                     /*   parallax code -3   */



 .parallax-3 {
   /* The image used */
   background-image: url('img_parallax_3.jpg');

   /* Full height */
   height: 80%;
   opacity: 0.65;

   /* Create the parallax scrolling effect */
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;


.caption{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  }

  .caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: px;

  }







                /*  parallax-3 img  */


}
/*
 .row{
       display: flex;
       flex-wrap:wrap;
       padding:0px 0px;
 }

 */


 .column{
        flex: 25%
        max-width:25%
        padding: 0px 4px;
 }
 .column img{
         margin-top: 8px;
         vertical-align:center;
         width:75%;
         height:50%;
         }

          .column-1 img{
                  margin-top: 8px;
                  vertical-align:center;
                  width:100%;
                  height:50%;

                  }



@media only screen and (max-width:400px) {

             .box{

                    /* margin-top: -17px;*/
                     font-size: 1px;

                            }
}



@media only screen and (max-width:400px) {

             .a-box{

                    /* margin-top: -17px;*/
                     font-size: 1px;

                            }
}











                     /*    INDIA MAP   */


        .b-ultra{
                         border:3px solid black;
                           }

.b-container{
                                 max-width: 300%;
                                 position: relative;
                                 margin:6%;
                                 box-shadow: 0 0 0 5.8vmax  #FAEE46;
                               }















